{% extends 'base.html' %}

{% block profile %}
{% block search %}
{% endblock search %}
<a class="lofi" href="/logout">Logout</a>
{% endblock profile %}

{% block head %}
{% endblock head %}


{% block sidenav %}
{% if alert %}
<script>
    alert("{{ alert }}")
</script>
{% endif %}
{% if creator %}
<style>
    .sublist {
        margin-left: 40px;
        margin: 10px;
        text-align: center;
    }
</style>
<div class="sidenav" style="width: 200px;">
    <div class="admin_db" style="margin-top:-50px;">
        <div class="side-nav-div" style="font-weight: bold;">

            <ul class="sidenav__list">
                <li class="list">Dashboard</li>
                <a href="#analytics">
                    <p class="sublist lofi">anylitics</p>
                </a>
                <a href="/addsong">
                    <p class="sublist lofi"> Add
                        song</p>
                </a>
                <a href="/addalbum">
                    <p class="sublist lofi">Add album</p>
                </a>
                <br>
            </ul>
        </div>
    </div>
</div>
{% else %}

{% block creator_button %}
<br>
<br>
<div class="creator-button">
    <a href="/creator?H=True">
        <span>Become a Creator</span>
    </a>
</div>
{% endblock %}



<style>
    .creator-button {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .creator-button a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 2rem;
        background-color: #ff6b6b;
        border-radius: 50px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .creator-button a:hover {
        background-color: #ff4757;
    }

    .creator-button a span {
        position: relative;
        z-index: 1;
    }

    .creator-button a:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ff4757;
        border-radius: 50px;
        transform: scaleX(0);
        transform-origin: right;
        transition: all 0.3s ease;
    }

    .creator-button a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
    }

    a {
        text-decoration: none;
    }
</style>


{% endif %}
{% endblock sidenav %}


{% block body %}
{% if creator %}


<style>
    .container {
        margin: auto;
    }

    .boxes {
        display: block;
        width: 270px;
        height: auto;
        border-radius: 10px;
        box-shadow: 2px 23px 34px 16px rgba(0, 0, 0, 0.1);
        background: rgb(255, 231, 231);
        position: relative;
        overflow: hidden;
        float: left;
        margin: 1.5%;
    }

    .boxes-flex {
        flex: 1 0 calc(33.33% - 40px);
        margin: auto;
    }

    .box {
        flex: 1 0 calc(33.33% - 20px);
        margin: auto;
    }

    .box p {
        border: solid rgb(78, 76, 76) 1px;
        width: auto;
        font-size: 20px;
        border-radius: 10px;
        padding: 5px;
        overflow: hidden;
        float: left;
        margin: 1.5%;
        cursor: pointer;
    }

    h3 {
        font-weight: 10px;
    }

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        margin-bottom: 20%;
        width: 100%;
        height: 75.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .play-b {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }

    .play-b img {
        margin: auto;
        height: 50px;
        width: 50px;
    }

    .boxes:hover .overlay {
        opacity: 2;

    }

    a {
        text-decoration: none;
    }
</style>
<div style="margin-top: 55px; margin-left: 230px">
    <br>
    <h1 id="analytics">Analytics</h1>
    <img src="data:image/png;base64,{{ bar_chart_url }}" alt="Bar Chart" width="400px">
    <br>
    <h1>Your Albums</h1>
    <div class="container">
        <div class="boxes-flex">
            {% for album in albums %}
            <div class="boxes">

                <h3> {{album.name}} </h3>
                <div class="box">
                    <a href="/addsongtoalbum/{{album.id}}">
                        <p>add new</p>
                    </a>

                    <a href="/viewaalbums/{{album.id}}">
                        <p>view all</p>
                    </a>
                    <a href="/deletealbum/{{album.id}}">
                        <p>delete</p>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h1>Your Songs</h1>
    <div class="container">
        <div class="boxes-flex">
            {% for song in songs %}
            <div class="boxes" style="height: auto; width:auto;">
                <img src="data:image/jpeg;base64,{{ song.image|img_to_base64 }}" alt="Song 1" height="180px"
                    width="180px">
                <div class="overlay">
                    <div class="play-b">
                        <a href="/editsong/{{song.id}}">
                            <img src="{{ url_for('static', filename='image/edit.png') }}" alt="edit-song">
                        </a>
                        <a href="/deletesong/{{song.id}}">
                            <img src="{{ url_for('static', filename='image/delete.png') }}" alt="delete-song">
                        </a>
                    </div>
                </div>
                <p style="overflow: hidden;">{{song.name}} </p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endblock body %}

        {% block footer %}
        {% endblock footer %}