{% extends 'base.html' %}
{% block nav %}

{% endblock nav %}
{% block body %}
<div class="container">
    <div class="form-box">
        <form action="/editproduct/{{product.id}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" name="name" placeholder="Enter Name" class="form-control" value="{{product.name}}"
                    id="name" required>
            </div>
            <div class="form-group">
                <label for="price">Price per unit</label>
                <input type="number" name="price" placeholder="Enter Price per unit" value="{{product.rateperunit}}"
                    class="form-control" id="price" required>
            </div>
            <div class="form-group">
                <label for="quantity">Quantity Available</label>
                <input type="number" name="quantity" placeholder="Enter quantity" value="{{product.quantity}}"
                    class="form-control" id="quantity" required>
            </div>
            <div class="form-group">
                <label for="mnf-date">Manufacture Date</label>
                <input type="date" name="mnf-date" placeholder="Enter Manufacture Date"
                    value="{{product.manufacture|string}}" class="form-control" id="mnf-date" required>
            </div>
            <div class="form-group">
                <label for="exp-date">Expiry Date</label>
                <input type="date" name="exp-date" placeholder="Enter Manufacture Date"
                    value="{{product.expirydate|string}}" class="form-control" id="exp-date" required>
            </div>
            <select name="unit" id="unit">
                <option value="{{product.unit}}">Select Unit</option>
                <option value="kg">Kg</option>
                <option value="ltr">Litre</option>
                <option value="pcs">Piece</option>
            </select>
            <div class="form-group">
                <label for="image">Product Image</label>
                <input type="file" name="image" class="form-control" id="image" required>
            </div>
            <div class="text-center">
                <input type="submit" value="Update" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
{% endblock body %}